html,
body {
    margin: 0;
    padding: 0;
}

* {
    user-select: none;
    pointer-events: none;
}

#banner {
    margin: auto;
    margin-top: 8%;
    width: 70%;
}


@keyframes scorri-dal-basso {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes dissolvenza {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lampeggia {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}